body {
    padding-top:70px;
    font-family: 'Roboto', sans-serif;
}

body a:hover {
    text-decoration: none;
}

.navbar-header {
    font-family: 'Titillium Web', sans-serif;
}

#footer {
    height:70px;
    padding: 10px;
}


.dynatable  thead {
    background: #008F00;
}

.affix, .affix-top {
    position:static;
}

/* All media! */

@media (min-width: 992px) {
    #sidebar.affix-top {
        position:static;
        margin-top:0px;
    }

  #sidebar.affix {
    position: fixed;
    min-width: 160px;
  }
}


@media (max-width: 768px) {


}
@media (min-width: 769px) and (max-width: 992px) {


}
@media (min-width: 993px) and (max-width: 1200px) {



}
@media (min-width: 1201px) {

}

