{% extends 'index.html' %}

{% block content %}

<h3 class='page-header'>Well hello there..</h3>

<p>
I used to host a bunch of thermodynamic databases and calculators, and found they were my primary source of organic traffic. Thus, I did not want to get rid of them completeley when I re-designed my website.</p>
<p> Things I hope to add to this subdomain in the future:</p>

<ul>
    <li>Bigger (and better) database - I would love to see if NIST has an API I can pull data from</li>
    <li>Calculators - I'll eventually bring back the vapor pressure calculator and others</li>
    <li>More datasets (other than just the current antoine parameters)</li>
    <li>Education! - I would like people to learn things</li>
</ul>

<p>If you would like to contribute, please visit the <a href="https://github.com/dhhagan/chem-data">github repo</a>.</p>
{% endblock %}